.homelink {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.grid_1-6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.forpris {
  color: rgb(173, 170, 170);
}
.rabat {
  padding: 10px 15px 10px 15px;
  background-color: rgb(228, 62, 62);
  font-size: 20px;
}
.card1 {
  gap: 1rem;
  background-image: linear-gradient(
    to right,
    rgb(42, 41, 41),
    rgb(57, 57, 55),
    rgb(114, 111, 111)
  );
  padding: 20px 40px 20px 40px;
  margin: 1.5rem;
  text-decoration: none;
  font-size: 30px;
  color: rgb(249, 245, 245);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.produktlist {
  text-decoration: none;
}
.galleri {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-top: 1rem;
}
.galleri img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
}

.spaceleft {
  margin-left: 5%;
  margin-top: 5rem;
}
nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #b5a8aa;
  top: 0;
}
.menu a {
  display: block;
  padding: 10px;
  color: #0b0b0b;
  text-decoration: none;
  text-align: end;
  font-size: 30px;
}
button {
  padding: 10px 15px;
  background-color: #0b0b0b;
  color: #f7f4f4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.undergalleri {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
}

@media screen and (min-width: 1100px) {
  .grid_1-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .galleri {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .galleri img {
    max-height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
  .centeritems {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
